# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.UniversityStuff.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\aciobanu\Downloads\UniversityStuff\.idea\.idea.UniversityStuff.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
