{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="{% static '..\static\styles\blogStyle.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header"><h1>My Blog's posts</h1></div>
<div id="content">{% block content %}{% endblock %}</div>
<div id="sidebar">
    <h2>Artiom Ciobanu's blog</h2>
    <img class="main-image" src="{% static '..\static\images\img.jpg' %}" alt="Image">
    <p>This is my blog.</p>
</div>
<footer class="footer">
    <p>Created by Artiom Ciobanu I1902</p>
</footer>
</body>
</html>
